html {
  font-size: $text-base-font-size * 1px;
}

body {
  @include text($text-base-font-size, $text-base-line);
  color: $text-color-base;
}

h1 {
  @include text($text-size-delta, $text-line-delta, 15);
  font-weight: bold;
}

h2 {
  @include text($text-size-beta, $text-line-beta, 15);
}

h3 {
  @include text($text-size-gamma, $text-line-gamma, 15);
}

p {
  @include text($text-size-delta, $text-line-delta, 10);
}