/**************************/
/*                        */
/*        text            */
/*                        */
/**************************/

/**************************/
/*       text-font        */
/**************************/
$text---font-family-sans: theme__text---font-family-sans;

/**************************/
/*       text-size        */
/**************************/
$text--base---font-size: $theme__text--base---font-size;
$text--alpha---font-size: $theme__text--alpha---font-size;
$text--beta---font-size: $theme__text--beta---font-size;
$text--gamma---font-size: $theme__text--gamma---font-size;
$text--delta---font-size: $theme__text--delta---font-size;
$text--epsilon---font-size: $theme__text--epsilon---font-size;
$text--dseta---font-size: $theme__text--dseta---font-size;
$text--eta---font-size: $theme__text--eta---font-size;

/**************************/
/*       text-line        */
/**************************/
$text--base--line-height: $theme__text--base--line-height;
$text--alpha---line-height: $theme__text--alpha---line-height;
$text--beta---line-height: $theme__text--beta---line-height;
$text--gamma---line-height: $theme__text--gamma---line-height;
$text--delta---line-height: $theme__text--delta---line-height;
$text--epsilon---line-height: $theme__text--epsilon---line-height;
$text--dseta---line-height: $theme__text--dseta---line-height;
$text--eta---line-height: $theme__text--eta---line-height;

/**************************/
/*       text-color       */
/**************************/
$text--base-color: $theme__text--base-color;

/**************************/
/*   text-margin-bottom   */
/**************************/
$text__h1---margin-bottom_top: $theme__text__h1---margin-bottom_top;
$text__h2---margin-bottom_top: $theme__text__h2---margin-bottom_top;
$text__h3---margin-bottom_top: $theme__text__h3---margin-bottom_top;
$text__h4---margin-bottom_top: $theme__text__h4---margin-bottom_top;
$text__h5---margin-bottom_top: $theme__text__h5---margin-bottom_top;
$text__h6---margin-bottom_top: $theme__text__h6---margin-bottom_top;
$text__p---margin-bottom_top: $theme__text__p---margin-bottom_top;

/**************************/
/*   text-bold:   		    */
/**************************/
$text__h1---font-weight: $theme__text__h1---font-weight;
$text__h2---font-weight: $theme__text__h2---font-weight;
$text__h3---font-weight: $theme__text__h3---font-weight;
$text__h4---font-weight: $theme__text__h4---font-weight;
$text__h5---font-weight: $theme__text__h5---font-weight;
$text__h6---font-weight: $theme__text__h6---font-weight;