/**** {{bar-buttons}} ****/
$bar-buttons-size: $theme-bar-buttons-size;

/*$button-font-size: $button-size;
$button-border-radius: $theme-button-border-radius;
$button-padding: $theme-button-padding;
$button-margin: $theme-button-margin;*/